Magic 271485
Revision 2011.07

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 147 15 1284 624 328 96

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/nfs/iind/disks/mg_disk0866/mereddyx/newJTAGARS/AR240543/ip-jtag-bfm/pwa/results/tests/MyTapTest/Dump.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
windowTimeUnit 1ns

; waveform viewport range
zoom 0.000000 4080.000000 1n
cursor 1700.000000
marker 1450.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 8
; marker line index
markerPos 34

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "CLTAP"
activeDirFile "" "/nfs/iind/disks/mg_disk0866/mereddyx/newJTAGARS/AR240543/ip-jtag-bfm/pwa/results/tests/MyTapTest/Dump.fsdb"
addSignal -h 15 /top/mtap_tapnw_taps_inst/i_mtap0/powergoodrst_b
addSignal -c ID_RED5 -ls solid -lw 1 -h 15 -UNSIGNED /top/mtap_tapnw_taps_inst/i_mtap0/i_mtap_fsm/present_state[15:0]
addSignal -c ID_RED5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX /top/mtap_tapnw_taps_inst/i_mtap0/i_mtap_irreg/mtap_irreg_ireg[7:0]
addSignal -h 15 -UNSIGNED -HEX /top/mtap_tapnw_taps_inst/i_mtap0/cftapnw_ftap_secsel[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope cftapnw_ftap_enabletap[7:0]
addGroup "sTAP0"
addSignal -h 15 /top/mtap_tapnw_taps_inst/i_stap0/powergoodrst_b
addSignal -c ID_PURPLE5 -ls solid -lw 1 -h 15 -UNSIGNED /top/mtap_tapnw_taps_inst/i_stap0/i_stap_fsm/present_state[15:0]
addSignal -c ID_PURPLE5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX /top/mtap_tapnw_taps_inst/i_stap0/i_stap_irreg/stap_irreg_ireg[7:0]
addSignal -h 15 /top/mtap_tapnw_taps_inst/i_stap0/ftap_tck
addSignal -h 15 -holdScope ftap_tdi
addSignal -h 15 -holdScope ftap_tms
addSignal -h 15 -holdScope ftap_trst_b
addSignal -h 15 -holdScope atap_tdo
addSignal -h 15 -holdScope atap_tdoen
addSignal -h 15 -UNSIGNED -HEX -holdScope tdr_data_out[63:0]
addGroup "CLTAP Sec Port"
addSignal -h 15 /top/mtap_tapnw_taps_inst/i_mtap0/atapsecs_tck
addSignal -h 15 -holdScope atapsecs_tdi
addSignal -h 15 -holdScope atapsecs_tms
addSignal -h 15 -holdScope atapsecs_trst_b
addSignal -h 15 -holdScope ftapsecs_tdo
addSignal -h 15 -holdScope ftapsecs_tdoen
addGroup "CLTAP Prim Port"
addSignal -h 15 /top/mtap_tapnw_taps_inst/i_mtap0/atappris_tck
addSignal -h 15 -holdScope atappris_tdi
addSignal -h 15 -holdScope atappris_tms
addSignal -h 15 -holdScope atappris_trst_b
addSignal -h 15 -holdScope ftappris_tdo
addSignal -h 15 -holdScope ftappris_tdoen
addSignal -h 15 -UNSIGNED -HEX -holdScope tdr_data_out[63:0]
addGroup "G5"
addSignal -h 15 /top/Primary_if/jtagbfm_clk
addSignal -h 15 -holdScope tck
addGroup "G6"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/nfs/iind/disks/mg_disk0866/mereddyx/newJTAGARS/AR240543/ip-jtag-bfm/pwa/results/tests/MyTapTest/Dump.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/\JTAG_BFM_PKG_LIB.JtagBfmPkg "
"/top"

SCOPE_LIST_BEGIN
"/\JTAG_BFM_PKG_LIB.JtagBfmPkg "
"/\JTAG_BFM_PKG_LIB.JtagBfmPkg"
"/top/mtap_tapnw_taps_inst/i_mtap0"
"/top/mtap_tapnw_taps_inst/i_mtap0/i_mtap_fsm"
"/top/mtap_tapnw_taps_inst/i_mtap0/i_mtap_irreg"
"/top"
"/top/mtap_tapnw_taps_inst"
"/top/mtap_tapnw_taps_inst/i_stap0/i_stap_fsm"
"/top/mtap_tapnw_taps_inst/i_stap0/i_stap_irreg"
"/top/mtap_tapnw_taps_inst/i_stap0"
"/top/Primary_if"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


