Magic 271485
Revision 2010.04p2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 417 217 1242 506 248 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/nfs/fm/disks/fm_cse_00612/users/sbulusu/IP/ip-tap-network/pwa/results/tests/TapTestTry/Dump.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 390000.000000
cursor 55000.000000
marker 365000.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 4

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/nfs/fm/disks/fm_cse_00612/users/sbulusu/IP/ip-tap-network/pwa/results/tests/TapTestTry/Dump.fsdb"
addSignal -h 15 -UNSIGNED /top/mtap_tapnw_taps_inst/i_mtap0/i_mtap_fsm/present_state[15:0]
addSignal -h 15 -holdScope powergoodrst_trst_b
addSignal -h 15 -holdScope atappris_tck
addSignal -h 15 -holdScope atappris_tms
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/nfs/fm/disks/fm_cse_00612/users/sbulusu/IP/ip-tap-network/pwa/results/tests/TapTestTry/Dump.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/\OVM_PKG.ovm_pkg "
"/top"
"/top/mtap_tapnw_taps_inst"
"/top/mtap_tapnw_taps_inst/i_mtap0"

SCOPE_LIST_BEGIN
"/\OVM_PKG.ovm_pkg "
"/\OVM_PKG.ovm_pkg"
"/top/mtap_tapnw_taps_inst/i_mtap0"
"/top/mtap_tapnw_taps_inst/i_mtap0/i_mtap_fsm"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


