# zFast verbose + debug
@zFE:verbose=1
@zFE:debug=1
@configverbose=true

# Separates gnd cells for undriven nets
compile:PreserveNamedSupply=true

# Allow uncomplete definition of VHDL BBoxes
#Compile:AllowBlackBoxForNoDefinition=false

Compile:suppressParserMessages=(
# 1st iteration
	#RTL-w/a
		# w/a + fix	1358 #     4 [97.1358]:   Illegal arguments to ( $past / $typeof ) system function 
		# w/a		1428 #     2 [97.1428]:   Enum can only be assigned to same enum type or enum member. 
	#RTL-waived
		1428 #       [97.1428]:   Enum can only be assigned to same enum type or enum member. 
		1689 #    26 [97.1689]:   Illegal combination of procedural and continuous assignment found for variable ( X ).
		1442 # 39055 [97.1442]:   Illegal use of struct/array literal within concatenation 
		1607 #   158 [97.1607]:   Incompatible assignment found, for structure array / structure / unpacked array. 
		1445 #    73 [97.1445]:   Illegal use of aggregate expression in this context.
	#SVA-waived
		1387 #     2 [97.1387]:   Deferred assertion action block must be a task enable only.
		1547 #    23 [97.1547]:   Looping statement can not contain concurrent assertion.
		1549 #    87 [97.1549]:   First statement of always block should be event control as it contains concurrent assertion.
#SRID REVISIT		811  #    88 [97.811] :   Object is of not valid type to be used in expression.
# 2nd iteration
		1390 #     5 [97.1390]:   Items within packages cannot have hierarchical references.
		1466 #  1179 [97.1466]:   Incorrect unpacked array port connection in instantiation ( X ) for port (Y)
		687  #     1 [97.687] :   Illegal output/inout port ( del_out ) specification for instance ( \cutmcp_MCP_ReqToRegionIdUnnnH  ).
		1686 #     4 [97.1686]:   Illegal input port ( X ) specification for instance ( Y ).

		
		810  #     2 [97.810] :   Only constant expression is allowed here.
                1882 #SRID Z-1-8 only Boolean assertion expression may not call a function
		391 #script mode
  )

Compile:suppressSynthMessages= (
    1882 #SRID Z-1-8 only Boolean assertion expression may not call a function
    5257 # [110.5257] JEF found in BXT PCS macro which tries to use part selects for bits which do not exist.
    5255 # [110.5255] JEF found in BXT PCS - need to understand problem better
)

# Use falcon specific style of library parsing
Compile:FullLibDirFile=True

Compile:MaxLoopIterations=33000
Compile:DropWriteOnlyMemories=True

# This will let $time to be replaced with '0 during synthesis
Compile:ClobberHWStasks=($$time=0) 


#SVA enabling
SVA:FastKill = true
SVA:DebugConversion=true
SVA:KillUnsupported=true
Compile:KillSvaProcLoop=true
Compile:Sva:FullModeAll=false

Compile:DumpAfterKillSva=false
Compile:CaseInsensitiveLibrarySearch=true
OLDPROBE=false

# earbili for sva auto disabling afer first firing
zFe:SvaAutoDisable=true

# use the new mixed language flow
newmixedflow=true

# to support initial blocks
Compile:RIRM=true
