$static_checks_cfg = {
             spyglass => {
                 all => {
                    methodology  =>  {
                         # lint => "/p/hdk/rtl/cad/x86-64_linux26/spyglass_methodology/spyglass_methodology/1.1.8/initial_rtl",
                         lint => "$ENV{RTL_CAD_ROOT}/spyglass_methodology/spyglass_methodology/1.1.8/initial_rtl",
                         lp_fe =>  "$ENV{RTL_CAD_ROOT}/spyglass_methodology/spyglass_methodology/1.1.8/lp_fe",
                        dft => "$ENV{ISAF_SPYGLASS_METHODOLOGY}/dft",
										},
                    tool_opts => [
				# "read_file -type waiver /p/hdk/rtl/cad/x86-64_linux26/spyglass_methodology/spyglass_methodology/1.1.8/global_lp_waivers.swl",
				# "read_file -type waiver $ENV{RTL_CAD_ROOT}/spyglass_methodology/spyglass_methodology/1.1.8/global_lp_waivers.swl",
                                'set_option enableSV yes',
                                'set_option libext .v .sv',
                                'set_option language_mode mixed',
                                'set_option relax_hdl_parsing yes',
                                'set_option hdlin_translate_off_skip_text yes',
                                'set_option hdlin_synthesis_off_skip_text yes',
                                'set_option handlememory yes',
                                'set_option mthresh 16000',
                                'set_option hdllibdu yes',
                                'set_option sort yes',
                                'set_option no_strict_sgdc_check yes',
                                # 'set_option enable_pgnetlist yes',
                                'set_option allow_module_override yes',
                                'set_option report {moresimple summary moresimple_sevclass waiver}',
                                 'set_option ignoredu {  d04cgc01wdsh0 d04inn00wn0c5 d04hiy23wd0b0  d04gbf00wd0c0 d04mbn22wd0c7   } ',

                                'set_option nosavepolicy all',
                                # 'set_option savepolicy lowpower',


                                'set_option dw yes',
				#'set_option enable_pgnetlist_all_products yes',
                                 ], 
                 },
             },
};
