Magic 271485
Revision 2011.07p2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 351 33 1560 688 322 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/nfs/iind/disks/mg_disk0971/users/sbulusu/devlpmnt/stap/1.5/ip-stap/pwa/results/tests/TapTestProgRstITDR/Dump.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 9260000.000000
cursor 0.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 20

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/nfs/iind/disks/mg_disk0971/users/sbulusu/devlpmnt/stap/1.5/ip-stap/pwa/results/tests/TapTestProgRstITDR/Dump.fsdb"
addSignal -h 15 /top/stap_top_inst/fdfx_earlyboot_exit
addSignal -h 15 -holdScope fdfx_policy_update
addSignal -h 15 -holdScope fdfx_powergood
addSignal -h 15 -UNSIGNED -HEX -holdScope fdfx_secure_policy[3:0]
addSignal -h 15 -UNSIGNED -HEX /top/stap_top_inst/i_stap_dfxsecure_plugin/dfxsecure_feature_en[2:0]
addSignal -h 15 /top/stap_top_inst/i_stap_fsm/Pair
addSignal -h 15 -UNSIGNED -holdScope present_state[15:0]
addSignal -h 15 -UNSIGNED -HEX /top/stap_top_inst/ftap_slvidcode[31:0]
addSignal -h 15 -holdScope ftap_tck
addSignal -h 15 -holdScope ftap_tdi
addSignal -h 15 -holdScope ftap_tms
addSignal -h 15 -holdScope ftap_trst_b
addSignal -h 15 -holdScope atap_tdo
addSignal -h 15 -holdScope atap_tdoen
addSignal -h 15 /top/stap_top_inst/i_stap_irdecoder/feature_green_en
addSignal -h 15 -holdScope feature_orange_en
addSignal -h 15 -holdScope feature_red_en
addGroup "G2"
addSignal -h 15 -UNSIGNED -HEX /top/stap_top_inst/i_stap_irdecoder/stap_irreg_ireg[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope stap_irdecoder_drselect[14:0]
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/nfs/iind/disks/mg_disk0971/users/sbulusu/devlpmnt/stap/1.5/ip-stap/pwa/results/tests/TapTestProgRstITDR/Dump.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/\DFXSECURE_PLUGIN_PKG_LIB.DfxSecurePlugin_Pkg "
"/top"
"/top/stap_top_inst"
"/top/stap_top_inst/i_stap_irdecoder"

SCOPE_LIST_BEGIN
"/\DFXSECURE_PLUGIN_PKG_LIB.DfxSecurePlugin_Pkg "
"/\DFXSECURE_PLUGIN_PKG_LIB.DfxSecurePlugin_Pkg"
"/top/stap_top_inst"
"/top/stap_top_inst/i_stap_dfxsecure_plugin"
"/top/stap_top_inst/i_stap_fsm"
"/top"
"/top/stap_top_inst/i_stap_irdecoder"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


