# Excerpt from CORE Path Waiver File
# <L1>,L2<,L3>
 
# Template waiver: blank waive L2
# in template module.
#,{hswidvscanctl}.shift
 # Excerpt from CORE Path Waiver File
# <L1>,L2<,L3>
 
# Template waiver: blank waive L2
# in template module.
#,{hswidvscanctl}.shift
 
# Waive ALL paths through this L2
#,nhmpkg.nhm0.meu.dcu.dcphyadrd.Sig
 
# Waive triplets with this L1/L2 pair
#{nhmpkg}.nhm0.ooo.rs.rsprfc.sig[5][63:0],
#nhmpkg.nhm0.ooo.rs.rsprfc.sig[5][63:0]


# Waive ALL paths through this L2
#,nhmpkg.nhm0.meu.dcu.dcphyadrd.Sig
 
# Waive triplets with this L1/L2 pair
#{nhmpkg}.nhm0.ooo.rs.rsprfc.sig[5][63:0],
#nhmpkg.nhm0.ooo.rs.rsprfc.sig[5][63:0]

