Magic 271485
Revision 2010.10

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 101 105 1667 1016 237 105

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/nfs/fm/disks/fm_cse_00612/users/sbulusu/IP/ip-stap/pwa/results/tests/TapTestRemoteTDR/Dump.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 22865835.434083 23511573.680659
cursor 22850000.000000
marker 11410000.000000

; user define markers
; userMarker time_pos marker_name color linestyle
userMarker 22850000 PtB ID_GRAY5 long_dashed
userMarker 23470000 PtA ID_GRAY5 long_dashed
userMarker 6870000 RTDR2 ID_GRAY5 long_dashed
userMarker 6655000 RTDR1 ID_GRAY5 long_dashed

; visible top row signal index
top 0
; marker line index
markerPos 58

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/nfs/fm/disks/fm_cse_00612/users/sbulusu/IP/ip-stap/pwa/results/tests/TapTestRemoteTDR/Dump.fsdb"
addSignal -h 15 /top/stap_top_inst/tapc_remove
addGroup "G2"
addGroup "Basic JTAG"
addSignal -h 15 /top/pif/ftap_trst_b
addSignal -h 15 -holdScope ftap_tck
addSignal -h 15 -holdScope ftap_tdi
addSignal -h 15 -holdScope ftap_tms
addSignal -h 15 -holdScope atap_tdo
addGroup "STAP RTL Signals" -e FALSE
addSignal -h 15 /top/stap_top_inst/fdfx_powergood
addSignal -h 15 -holdScope powergood_rst_trst_b
addSignal -h 15 -holdScope tap_rtdr_powergood
addSignal -h 15 -UNSIGNED /top/stap_top_inst/i_stap_fsm/present_state[15:0]
addSignal -h 15 -UNSIGNED -HEX /top/stap_top_inst/i_stap_irreg/stap_irreg_ireg[15:0]
addGroup "Other Signals from PIF" -e FALSE
addSignal -h 15 /top/pif/fdfx_powergood
addGroup "Remote TDR signals from PIF" -e FALSE
addSignal -h 15 /top/pif/tap_rtdr_powergood
addSignal -h 15 -holdScope rtdr_tap_tdo[0:0]
addSignal -h 15 -holdScope tap_rtdr_tdi[0:0]
addSignal -h 15 -holdScope tap_rtdr_capture[0:0]
addSignal -h 15 -holdScope tap_rtdr_selectir[0:0]
addSignal -h 15 -holdScope tap_rtdr_shift[0:0]
addSignal -h 15 -holdScope tap_rtdr_update[0:0]
addGroup "Emulate TDO Signals" -e FALSE
addSignal -h 15 /top/tdo_glue/fdfx_powergood
addSignal -h 15 -holdScope tap_rtdr_powergood
addGroup "RTDR-1" -e FALSE
addSignal -h 15 /top/pif/rtdr_tap_tdo[0:0]
addSignal -h 15 -holdScope tap_rtdr_tdi[0:0]
addSignal -h 15 /top/tdo_glue/tap_rtdr_capturedr[0:0]
addSignal -h 15 -holdScope tap_rtdr_shiftdr[0:0]
addSignal -h 15 -holdScope tap_rtdr_updatedr[0:0]
addGroup "RTDR-2" -e FALSE
addSignal -h 15 /top/pif/ftap_tdi
addSignal -h 15 -holdScope atap_tdo
addGroup "Internal TDR-1" -e FALSE
addSignal -h 15 /LOGIC_LOW
addSignal -h 15 -holdScope LOGIC_HIGH
addSignal -h 15 -holdScope BLANK
addGroup "TAPC Remove"
addSignal -h 15 /top/stap_top_inst/tapc_remove
addSignal -h 15 -UNSIGNED -HEX -holdScope tapc_select[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tapc_wtap_sel[2:0]
addSignal -h 15 -holdScope stap_fbscan_chainen
addGroup "G12"
addSignal -h 15 /top/pif/ftap_tck
addSignal -h 15 -UNSIGNED -HEX /top/stap_top_inst/tap_rtdr_tdi[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rtdr_tap_tdo[1:0]
addSignal -h 15 -UNSIGNED /top/stap_top_inst/i_stap_fsm/present_state[15:0]
addSignal -h 15 -UNSIGNED -HEX /top/stap_top_inst/i_stap_irreg/stap_irreg_ireg[15:0]
addSignal -h 15 /top/stap_top_inst/tap_rtdr_selectir
addGroup "RTDR1"
addSignal -h 15 /top/stap_top_inst/tap_rtdr_capture[0]
addSignal -h 15 -holdScope tap_rtdr_shift[0]
addSignal -h 15 -holdScope tap_rtdr_update[0]
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -holdScope tap_rtdr_irdec[0]
addSignal -h 15 /top/pif/ftap_tck
addSignal -h 15 -UNSIGNED -HEX /top/tdo_glue/rtdr_shadow_reg0[31:0]
addGroup "RTDR2"
addSignal -h 15 /top/stap_top_inst/tap_rtdr_capture[1]
addSignal -h 15 -holdScope tap_rtdr_shift[1]
addSignal -h 15 -holdScope tap_rtdr_update[1]
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -holdScope tap_rtdr_irdec[1]
addSignal -h 15 -UNSIGNED -HEX /top/tdo_glue/rtdr_shadow_reg1[31:0]
addGroup "G15"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/nfs/fm/disks/fm_cse_00612/users/sbulusu/IP/ip-stap/pwa/results/tests/TapTestRemoteTDR/Dump.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/\OVM_PKG.ovm_pkg "
"/top"
"/top/pif"

SCOPE_LIST_BEGIN
"/\OVM_PKG.ovm_pkg "
"/\OVM_PKG.ovm_pkg"
"/top/pif"
"/top/stap_top_inst"
"/top/tdo_glue"
"/top/stap_top_inst/i_stap_fsm"
"/top/stap_top_inst/i_stap_irreg"
"/top/stap_top_inst/i_stap_drreg"
"/top/stap_top_inst/i_stap_drreg/genblk9/genblk1[21]/i_stap_data_reg"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


