Magic 271485
Revision 2011.07

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 128 153 1667 659 237 105

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/nfs/iind/disks/mg_disk0971/users/sbulusu/devlpmnt/stap/1.5/ip-stap/pwa/results/tests/TapTestRemoteTDR/Dump.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 205986.185725
cursor 90000.000000
marker 1410000.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 11

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/nfs/iind/disks/mg_disk0971/users/sbulusu/devlpmnt/stap/1.5/ip-stap/pwa/results/tests/TapTestRemoteTDR/Dump.fsdb"
addSignal -h 15 /top/stap_top_inst/i_stap_dfxsecure_plugin/fdfx_powergood
addSignal -h 15 /top/stap_top_inst/ftap_tck
addSignal -h 15 -UNSIGNED -HEX /top/stap_top_inst/i_stap_dfxsecure_plugin/fdfx_secure_policy[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dfxsecure_feature_lch[3:0]
addSignal -h 15 -UNSIGNED -holdScope policy_name[3:0]
addSignal -h 15 -holdScope fdfx_earlyboot_exit
addSignal -h 15 -holdScope fdfx_policy_update
addGroup "G2"
addSignal -h 15 -UNSIGNED -HEX /top/stap_top_inst/i_stap_dfxsecure_plugin/dfxsecure_feature_en[2:0]
addSignal -h 15 /top/stap_top_inst/i_stap_irdecoder/feature_red_en
addSignal -h 15 -holdScope feature_orange_en
addSignal -h 15 -holdScope feature_green_en
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/nfs/iind/disks/mg_disk0971/users/sbulusu/devlpmnt/stap/1.5/ip-stap/pwa/results/tests/TapTestRemoteTDR/Dump.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/\DFXSECURE_PLUGIN_PKG_LIB.DfxSecurePlugin_Pkg "
"/top"
"/top/stap_top_inst"
"/top/stap_top_inst/i_stap_dfxsecure_plugin"

SCOPE_LIST_BEGIN
"/\DFXSECURE_PLUGIN_PKG_LIB.DfxSecurePlugin_Pkg "
"/\DFXSECURE_PLUGIN_PKG_LIB.DfxSecurePlugin_Pkg"
"/top/stap_top_inst/i_stap_dfxsecure_plugin"
"/top"
"/top/stap_top_inst"
"/top/stap_top_inst/i_stap_irdecoder"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


