Magic 271485
Revision 2010.10

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 366 48 1452 579 538 80

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / -i 0 "" "/nfs/fm/disks/fm_cse_00612/users/sbulusu/IP/ip-stap/pwa/results/tests/TapTestBoundaryRegisterAccessWoReset/Dump.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 4729297.855890 5132472.618255
cursor 5055000.000000
marker 5230000.000000

; visible top row signal index
top 0
; marker line index
markerPos 34

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/nfs/fm/disks/fm_cse_00612/users/sbulusu/IP/ip-stap/pwa/results/tests/TapTestBoundaryRegisterAccessWoReset/Dump.fsdb"
addSignal -h 15 -UNSIGNED -HEX /top/stap_top_inst/i_stap_irreg/stap_irreg_ireg[15:0]
addSignal -h 15 -UNSIGNED /top/stap_top_inst/i_stap_fsm/present_state[15:0]
addSignal -h 15 /top/stap_top_inst/ftap_tms
addSignal -h 15 -UNSIGNED -HEX -holdScope stap_irreg_ireg[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope stap_irreg_shift_reg[15:0]
addGroup "G2" -e FALSE
addSignal -h 15 /top/stap_top_inst/chk_stap_assert_tdo_during_posedge_clk_0
addSignal -h 15 -holdScope atap_tdoen
addSignal -h 15 -holdScope ftap_tck
addSignal -h 15 -holdScope ftap_tdi
addSignal -h 15 -holdScope atap_tdo
addSignal -h 15 -holdScope fdfx_powergood
addSignal -h 15 -holdScope ftap_trst_b
addGroup "G5" -e FALSE
addSignal -h 15 /top/stap_top_inst/stap_fbscan_tdo
addSignal -h 15 -holdScope pre_tdo
addSignal -h 15 /top/stap_top_inst/generate_stap_bscan.i_stap_bscan/chk_if_bscan_ex3_at_reset_then_chainen_equals_zero
addSignal -h 15 /top/stap_top_inst/generate_stap_bscan/i_stap_bscan/select_bscan_internal
addSignal -h 15 -holdScope stap_fsm_shift_ir
addSignal -h 15 -holdScope fbscan_tdo_delay
addSignal -h 15 -holdScope pre_tdo
addGroup "G4" -e FALSE
addSignal -h 15 /top/stap_top_inst/generate_stap_bscan.i_stap_bscan/chk_if_bscan_ex1_sample_preload_then_mode_equals_zero
addSignal -h 15 -holdScope chk_if_bscan_ex2_sample_preload_then_highz_equals_zero
addSignal -h 15 /top/stap_top_inst/generate_stap_bscan/i_stap_bscan/stap_fbscan_highz
addGroup "G6" -e FALSE
addSignal -h 15 /top/stap_top_inst/generate_stap_bscan.i_stap_bscan/chk_if_bscan_trainorpulse_then_d6select_equals_1
addSignal -h 15 /top/stap_top_inst/generate_stap_bscan/i_stap_bscan/stap_fbscan_d6select
addSignal -h 15 -holdScope edr_and_trainorpulse
addSignal -h 15 -holdScope inst_extest_train
addSignal -h 15 -holdScope train_or_pulse
addSignal -h 15 -holdScope stap_fsm_tlrs
addGroup "G7"
addSignal -h 15 /top/stap_top_inst/ftap_tck
addSignal -h 15 /top/stap_top_inst/generate_stap_bscan.i_stap_bscan/chk_if_bscan_ex1_extest_tgl_then_mode_equals_one
addSignal -h 15 -holdScope chk_if_bscan_ex3_extest_tgl_then_chainen_equals_one
addSignal -h 15 -holdScope chk_if_bscan_ex4_extest_tgl_then_extogen_equals_one
addSignal -h 15 /top/stap_top_inst/generate_stap_bscan/i_stap_bscan/stap_fbscan_extogen
addSignal -h 15 -holdScope stap_fbscan_chainen
addSignal -h 15 -holdScope stap_fbscan_mode
addGroup "G8"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/nfs/fm/disks/fm_cse_00612/users/sbulusu/IP/ip-stap/pwa/results/tests/TapTestBoundaryRegisterAccessWoReset/Dump.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/\OVM_PKG.ovm_pkg "
"/top"
"/top/stap_top_inst"
"/top/stap_top_inst/generate_stap_bscan"
"/top/stap_top_inst/generate_stap_bscan/i_stap_bscan"

SCOPE_LIST_BEGIN
"/\OVM_PKG.ovm_pkg "
"/\OVM_PKG.ovm_pkg"
"/top/dump_hier"
"/top/dump_vcd"
"/top/dump_fsdb"
"/top/i_STapTest"
"/top/stap_top_inst"
"/top"
"/top/stap_top_inst/i_stap_irreg"
"/top/stap_top_inst/i_stap_fsm"
"/top/stap_top_inst/generate_stap_bscan"
"/top/stap_top_inst/generate_stap_bscan/i_stap_bscan"
"/top/stap_top_inst/generate_stap_bscan.i_stap_bscan"
"/top/stap_top_inst/generate_stap_tapnw.i_stap_tapnw"
"/top/stap_top_inst/generate_stap_tapnw"
"/top/stap_top_inst/cov_stap_assert_reset_during_negedge_clk"
"/top/stap_top_inst/chk_stap_assert_tdo_during_posedge_clk_0"
"/top/stap_top_inst/cov_stap_soft_reset_01"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


