Magic 271485
Revision 2011.07p2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 66 26 1667 1016 297 105

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/nfs/iind/disks/mg_disk0866/mereddyx/process/ww184stap/ip-stap/pwa/results/tests/TapTestRemoteTDR/Dump.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 216830000.000000
cursor 2615000.000000
marker 1775000.000000

; user define markers
; userMarker time_pos marker_name color linestyle
userMarker 2505000 M1 ID_GRAY5 long_dashed

; visible top row signal index
top 0
; marker line index
markerPos 73

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "Basic JTAG" -e FALSE
activeDirFile "" "/nfs/iind/disks/mg_disk0866/mereddyx/process/ww184stap/ip-stap/pwa/results/tests/TapTestRemoteTDR/Dump.fsdb"
addSignal -h 15 /top/pif/ftap_trst_b
addSignal -h 15 -holdScope ftap_tck
addSignal -h 15 -holdScope ftap_tdi
addSignal -h 15 -holdScope ftap_tms
addSignal -h 15 -holdScope atap_tdo
addGroup "STAP RTL Signals" -e FALSE
addSignal -h 15 /top/stap_top_inst/fdfx_powergood
addSignal -h 15 -holdScope powergood_rst_trst_b
addSignal -h 15 -holdScope tap_rtdr_powergood
addSignal -h 15 -UNSIGNED /top/stap_top_inst/i_stap_fsm/present_state[15:0]
addSignal -h 15 -UNSIGNED -HEX /top/stap_top_inst/i_stap_irreg/stap_irreg_ireg[15:0]
addGroup "Other Signals from PIF" -e FALSE
addSignal -h 15 /top/pif/fdfx_powergood
addGroup "Remote TDR signals from PIF" -e FALSE
addSignal -h 15 /top/pif/tap_rtdr_powergood
addSignal -h 15 -holdScope rtdr_tap_tdo[0:0]
addSignal -h 15 -holdScope tap_rtdr_tdi[0:0]
addSignal -h 15 -holdScope tap_rtdr_capture[0:0]
addSignal -h 15 -holdScope tap_rtdr_selectir
addSignal -h 15 -holdScope tap_rtdr_shift[0:0]
addSignal -h 15 -holdScope tap_rtdr_update[0:0]
addGroup "Emulate TDO Signals" -e FALSE
addSignal -h 15 /top/tdo_glue/fdfx_powergood
addSignal -h 15 -holdScope tap_rtdr_powergood
addGroup "RTDR-1" -e FALSE
addSignal -h 15 /top/pif/rtdr_tap_tdo[0:0]
addSignal -h 15 -holdScope tap_rtdr_tdi[0:0]
addGroup "RTDR-2" -e FALSE
addSignal -h 15 /top/pif/ftap_tdi
addSignal -h 15 -holdScope atap_tdo
addGroup "TAPC Remove" -e FALSE
addSignal -h 15 /top/stap_top_inst/tapc_remove
addSignal -h 15 -UNSIGNED -HEX -holdScope tapc_select[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tapc_wtap_sel[2:0]
addSignal -h 15 -holdScope stap_fbscan_chainen
addGroup "G12" -e FALSE
addSignal -h 15 /top/pif/ftap_tck
addSignal -h 15 -UNSIGNED -HEX /top/stap_top_inst/tap_rtdr_tdi[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rtdr_tap_tdo[1:0]
addSignal -h 15 -UNSIGNED /top/stap_top_inst/i_stap_fsm/present_state[15:0]
addSignal -h 15 -UNSIGNED -HEX /top/stap_top_inst/i_stap_irreg/stap_irreg_ireg[15:0]
addSignal -h 15 /top/stap_top_inst/tap_rtdr_selectir
addGroup "RTDR0 - Async Domain"
addSignal -h 15 /top/stap_top_inst/tap_rtdr_irdec[0]
addSignal -h 15 -UNSIGNED /top/stap_top_inst/i_stap_fsm/present_state[15:0]
addSignal -h 15 -UNSIGNED -HEX /top/stap_top_inst/i_stap_irreg/stap_irreg_ireg[15:0]
addSignal -h 15 /top/stap_top_inst/tap_rtdr_rti
addSignal -h 15 -holdScope tap_rtdr_selectir
addSignal -h 15 -holdScope tap_rtdr_irdec[0]
addSignal -h 15 /top/pif/ftap_tck
addSignal -h 15 /top/stap_top_inst/i_stap_fsm/stap_fsm_capture_ir
addSignal -h 15 -holdScope stap_fsm_update_ir
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -holdScope stap_fsm_capture_dr
addSignal -h 15 /top/stap_top_inst/tap_rtdr_capture[0]
addSignal -h 15 -holdScope tap_rtdr_shift[0]
addSignal -h 15 -holdScope tap_rtdr_update[0]
addSignal -h 15 -holdScope tap_rtdr_irdec[0]
addSignal -h 15 /top/tdo_glue/tap_rtdr_tdi[0]
addSignal -h 15 -holdScope rtdr_tap_tdo[0]
addSignal -h 15 -UNSIGNED -HEX /top/tdo_glue/generate_rtdr_asyc/genblk1/genblk1[0]/i_stap_data_reg/shift_register[31:0]
addSignal -h 15 -holdScope data_reg_tdo
addSignal -h 15 /top/tdo_glue/tap_rtdr_prog_rst_b[0]
addSignal -h 15 /top/tdo_glue/generate_rtdr_asyc/genblk1/genblk1[0]/i_stap_data_reg/reset_b
addSignal -h 15 -UNSIGNED -HEX -holdScope tdr_data_in[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tdr_data_out[31:0]
addSignal -h 15 /top/tdo_glue/ftap_tck
addSignal -h 15 /top/stap_top_inst/ftap_tdi
addSignal -h 15 -holdScope rtdr_tap_tdo[0]
addSignal -h 15 -holdScope atap_tdo
addSignal -h 15 /top/stap_top_inst/i_stap_drreg/generate_rtdr/generate_rtdr_1[21]/i_stap_remote_data_reg/rtdr_tap_tdo_gated
addSignal -h 15 -holdScope rtdr_tap_tdo
addSignal -h 15 -holdScope stap_fsm_shift_dr
addSignal -h 15 -holdScope stap_irdecoder_drselect
addGroup "RTDR1 - TCK Domain" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /top/tdo_glue/tap_rtdr_tdi[2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rtdr_tap_tdo[2:0]
addSignal -h 15 /top/stap_top_inst/tap_rtdr_irdec[1]
addSignal -h 15 -UNSIGNED /top/stap_top_inst/i_stap_fsm/present_state[15:0]
addSignal -h 15 -UNSIGNED -HEX /top/stap_top_inst/i_stap_irreg/stap_irreg_ireg[15:0]
addSignal -h 15 /top/stap_top_inst/tap_rtdr_rti
addSignal -h 15 -holdScope tap_rtdr_selectir
addSignal -h 15 -holdScope tap_rtdr_irdec[1]
addSignal -h 15 /top/pif/ftap_tck
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 /top/stap_top_inst/i_stap_fsm/stap_fsm_capture_dr
addSignal -h 15 /top/stap_top_inst/tap_rtdr_capture[1]
addSignal -h 15 -holdScope tap_rtdr_shift[1]
addSignal -c ID_PURPLE5 -ls solid -lw 1 -h 15 /top/stap_top_inst/i_stap_fsm/stap_fsm_update_dr
addSignal -h 15 /top/stap_top_inst/tap_rtdr_update[1]
addGroup "RTDR2 - Async Domain" -e FALSE
addSignal -h 15 /top/stap_top_inst/tap_rtdr_irdec[2]
addSignal -h 15 -UNSIGNED /top/stap_top_inst/i_stap_fsm/present_state[15:0]
addSignal -h 15 -UNSIGNED -HEX /top/stap_top_inst/i_stap_irreg/stap_irreg_ireg[15:0]
addSignal -h 15 /top/stap_top_inst/tap_rtdr_rti
addSignal -h 15 -holdScope tap_rtdr_selectir
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 /top/stap_top_inst/i_stap_fsm/stap_fsm_capture_dr
addSignal -h 15 /top/tdo_glue/tap_rtdr_capture[2]
addSignal -h 15 -holdScope tap_rtdr_shift[2]
addSignal -c ID_PURPLE5 -ls solid -lw 1 -h 15 /top/stap_top_inst/i_stap_fsm/stap_fsm_update_dr
addSignal -h 15 /top/tdo_glue/tap_rtdr_update[2]
addSignal -h 15 -UNSIGNED -HEX -holdScope rtdr_shadow_reg2[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rtdr_shift_reg2[31:0]
addGroup "G16"
addSignal -expanded -h 15 -UNSIGNED -HEX /top/stap_top_inst/tap_rtdr_irdec[2:0]
addGroup "G14"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/nfs/iind/disks/mg_disk0866/mereddyx/process/ww184stap/ip-stap/pwa/results/tests/TapTestRemoteTDR/Dump.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/\DFXSECURE_PLUGIN_PKG_LIB.DfxSecurePlugin_Pkg "
"/\JTAG_BFM_PKG_LIB.JtagBfmPkg "
"/top"
"/top/pif"
"/top/stap_top_inst"
"/top/stap_top_inst/i_sipstap_ctech_clkbf_rtdr"
"/top/stap_top_inst/i_stap_drreg"
"/top/stap_top_inst/i_stap_drreg/generate_rtdr"
"/top/stap_top_inst/i_stap_drreg/generate_rtdr/generate_rtdr_1[21]"
"/top/stap_top_inst/i_stap_drreg/generate_rtdr/generate_rtdr_1[21]/i_stap_remote_data_reg"
"/top/tdo_glue"
"/top/tdo_glue/generate_rtdr_asyc"
"/top/tdo_glue/generate_rtdr_asyc/genblk1"
"/top/tdo_glue/generate_rtdr_asyc/genblk1/genblk1[0]"
"/top/tdo_glue/generate_rtdr_asyc/genblk1/genblk1[0]/i_stap_data_reg"

SCOPE_LIST_BEGIN
"/\DFXSECURE_PLUGIN_PKG_LIB.DfxSecurePlugin_Pkg "
"*rtdr*"
"/\DFXSECURE_PLUGIN_PKG_LIB.DfxSecurePlugin_Pkg"
"/\OVM_PKG.ovm_pkg"
"/top/pif"
"/top/stap_top_inst"
"/top/tdo_glue"
"/top/stap_top_inst/i_stap_fsm"
"/top/stap_top_inst/i_stap_irreg"
"/top/stap_top_inst/i_stap_drreg"
"/top/stap_top_inst/i_stap_drreg/genblk9/genblk1[21]/i_stap_data_reg"
"/top/stap_top_inst/i_stap_irdecoder"
"/top"
"/\JTAG_BFM_PKG_LIB.JtagBfmPkg"
"/top/tdo_glue/generate_rtdr_asyc.genblk1.genblk1[0].i_stap_data_reg"
"/top/tdo_glue/generate_rtdr_asyc/genblk1/genblk1[0]"
"/top/tdo_glue/generate_rtdr_asyc/genblk1/genblk1[0]/i_stap_data_reg"
"/top/tdo_glue/generate_rtdr_asyc"
"/top/tdo_glue/generate_rtdr_asyc/genblk1"
"/top/stap_top_inst/i_stap_drreg/generate_rtdr/generate_rtdr_1[21]"
"/top/stap_top_inst/i_stap_drreg/generate_rtdr/generate_rtdr_1[21]/i_stap_remote_data_reg"
"/top/stap_top_inst/i_sipstap_ctech_clkbf_rtdr"
"/top/stap_top_inst/i_stap_drreg/generate_rtdr"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


