Magic 271485
Revision 2011.07

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 127 94 1242 506 248 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/nfs/iind/disks/mg_disk0867/rsivar1x/ip-jtag-bfm/pwa/results/tests/MyOddTapTest/Dump.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 2246912.231097 2254368.193482
cursor 2250000.000000
marker 365000.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 12

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/nfs/iind/disks/mg_disk0867/rsivar1x/ip-jtag-bfm/pwa/results/tests/MyOddTapTest/Dump.fsdb"
addSignal -h 15 /top/mtap_tapnw_taps_inst/i_mtap0/atappris_tck
addSignal -h 15 -holdScope atappris_tdi
addSignal -h 15 -holdScope atappris_tms
addSignal -h 15 -holdScope atappris_trst_b
addSignal -h 15 -UNSIGNED /top/mtap_tapnw_taps_inst/i_mtap0/i_mtap_fsm/present_state[15:0]
addSignal -h 15 -holdScope powergoodrst_trst_b
addSignal -h 15 -holdScope atappris_tck
addSignal -h 15 -holdScope atappris_tms
addSignal -h 15 -UNSIGNED -HEX /top/mtap_tapnw_taps_inst/i_stap0/tdr_data_out[63:0]
addSignal -h 15 -UNSIGNED -HEX /top/mtap_tapnw_taps_inst/i_stap1/tdr_data_out[63:0]
addSignal -h 15 -UNSIGNED -HEX /top/mtap_tapnw_taps_inst/i_stap2/tdr_data_out[63:0]
addSignal -h 15 -UNSIGNED -HEX /top/mtap_tapnw_taps_inst/i_stap3/tdr_data_out[63:0]
addSignal -h 15 -UNSIGNED -HEX /top/mtap_tapnw_taps_inst/i_stap4/tdr_data_out[63:0]
addSignal -h 15 -UNSIGNED -HEX /top/mtap_tapnw_taps_inst/i_stap5/tdr_data_out[63:0]
addSignal -h 15 -UNSIGNED -HEX /top/mtap_tapnw_taps_inst/i_stap6/tdr_data_out[63:0]
addSignal -h 15 -UNSIGNED -HEX /top/mtap_tapnw_taps_inst/i_stap7/tdr_data_out[63:0]
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/nfs/iind/disks/mg_disk0867/rsivar1x/ip-jtag-bfm/pwa/results/tests/MyOddTapTest/Dump.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/\JTAG_BFM_PKG_LIB.JtagBfmPkg "
"/top"
"/top/mtap_tapnw_taps_inst"
"/top/mtap_tapnw_taps_inst/i_mtap0"

SCOPE_LIST_BEGIN
"/\JTAG_BFM_PKG_LIB.JtagBfmPkg "
"/\JTAG_BFM_PKG_LIB.JtagBfmPkg"
"/top"
"/top/mtap_tapnw_taps_inst"
"/\OVM_PKG.ovm_pkg"
"/top/mtap_tapnw_taps_inst/i_mtap0"
"/top/mtap_tapnw_taps_inst/i_mtap0/i_mtap_fsm"
"/top/mtap_tapnw_taps_inst/i_stap1"
"/top/mtap_tapnw_taps_inst/i_stap3"
"/top/mtap_tapnw_taps_inst/i_stap0"
"/top/mtap_tapnw_taps_inst/i_stap2"
"/top/mtap_tapnw_taps_inst/i_stap4"
"/top/mtap_tapnw_taps_inst/i_stap5"
"/top/mtap_tapnw_taps_inst/i_stap6"
"/top/mtap_tapnw_taps_inst/i_stap7"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


