regression
!regression/
regression/*
!regression/*.sgdc
!regression/*/
regression/*/*
!regression/*/*.sgdc
!regression/*/*/
regression/*/*/*
!regression/*/*/*.sgdc
!regression/*/*/*/
regression/*/*/*/*
!regression/*/*/*/*.sgdc
!regression/*/*/*/*/
regression/*/*/*/*/*
!regression/*/*/*/*/*.sgdc
!regression/*/*/*/*/*/
regression/*/*/*/*/*/*
!regression/*/*/*/*/*/*.sgdc
!regression/*/*/*/*/*/*/
regression/*/*/*/*/*/*/*
!regression/*/*/*/*/*/*/*.sgdc
!regression/*/*/*/*/*/*/*/
GATEKEEPER
MockTurnin
target/vcs_4value*
target/*/vcs_4value*
target/vericom_4value
target/*/vericom_4value
**regress
target/emu/
target/*/emu/
target/SG/
target/*/SG/
target/log/
target/*/log/
target/*/*/*/*/log/
target/SGLP/
target/*/SGLP/
target/cpp/
target/*/cpp/
target/ascot/*/ascot.hdl
target/lint/
target/*/lint/
target/FLG/
target/*/FLG/
target/*.log
target*/*/*/target
**scratch/.links
.git
.git_hooks
target/collage/work**_tb/components
target/*/collage/work**_tb/components
dft_*_slvidcodes
dft_stf_tp_pathclear
target/quick_syn
target/*/quick_syn
target/digest
target/L4_default*
**/L4P_default.cfg
target/flow_data
target/*/spyglass_lib/
target/*/spyglass_libs/
#target/*/aceroot/results/DC
target/*/log/
target/**/aceroot/results/DC/*
!target/**/aceroot/results/DC/signoff/
target/**/aceroot/results/DC/signoff/*
!target/**/aceroot/results/DC/signoff/*.tcl
!target/**/aceroot/results/DC/signoff/*.cfg
!target/**/aceroot/results/DC/signoff/*/
target/**/aceroot/results/DC/signoff/*/*
!target/**/aceroot/results/DC/signoff/*/*.upf
!target/**/aceroot/results/DC/signoff/*/*.cfg
!target/**/aceroot/results/DC/signoff/*/rtl_list.tcl
!target/**/aceroot/results/DC/signoff/*/rtl_list_2stage.tcl
!target/**/aceroot/results/DC/signoff/*/hip_list.tcl
!target/**/aceroot/results/DC/signoff/*/*srsn.tcl
!target/**/aceroot/results/DC/signoff/*/*_cfg.sv
target/ucode/gen/MOOSE
target/specman
tools/ipgen/subsystems/*collage_work/*
tools/ipgen/knh_dft/collage_work/*
tools/ipgen/subsystems/*/*.log.*
tools/ipgen/knh_dft/*.log.*
target/*/flow_data
*.dmp
