sram_pg,2048,139,aqed,hqm_clk,1
sram_pg,2048,16,aqed_freelist,hqm_clk,2
sram_pg,2048,16,aqed_ll_qe_hpnxt,hqm_clk,3
bcam,2048,26,AW_bcam_2048x26,hqm_clk
rf_pg,2048,14,aqed_ll_qe_tp_pri1,hqm_clk,4
rf_pg,2048,14,aqed_ll_qe_tp_pri3,hqm_clk,5
rf_pg,2048,14,aqed_ll_qe_tp_pri2,hqm_clk,6
rf_pg,2048,14,aqed_ll_qe_hp_pri3,hqm_clk,7
rf_pg,2048,14,aqed_ll_qe_hp_pri2,hqm_clk,8
rf_pg,2048,14,aqed_ll_qe_hp_pri1,hqm_clk,9
rf_pg,2048,14,aqed_ll_qe_hp_pri0,hqm_clk,10
rf_pg,2048,16,aqed_ll_cnt_pri1,hqm_clk,11
rf_pg,2048,16,aqed_ll_cnt_pri0,hqm_clk,12
rf_pg,2048,16,aqed_ll_cnt_pri2,hqm_clk,13
rf_pg,2048,16,aqed_ll_cnt_pri3,hqm_clk,14
rf_pg,2048,17,aqed_fid_cnt,hqm_clk,15
rf_pg,2048,14,aqed_ll_qe_tp_pri0,hqm_clk,16
rf_pg,4,139,rx_sync_qed_aqed_enq,hqm_clk,17
rf_pg,32,15,aqed_qid_cnt,hqm_clk,18
rf_pg,32,14,aqed_qid_fid_limit,hqm_clk,19
rf_pg,16,32,aqed_fifo_freelist_return,hqm_clk,20
rf_pg,16,35,aqed_fifo_lsp_aqed_cmp,hqm_clk,21
rf_pg,16,45,aqed_fifo_ap_aqed,hqm_clk,22
rf_pg,16,24,aqed_fifo_aqed_ap_enq,hqm_clk,23
rf_pg,4,155,aqed_fifo_qed_aqed_enq,hqm_clk,24
rf_pg,8,153,aqed_fifo_qed_aqed_enq_fid,hqm_clk,25
rf_pg,16,180,aqed_fifo_aqed_chp_sch,hqm_clk,26
rf_pg,32,528,cfg_qid_ldb_qid2cqidix2_mem,hqm_clk,27
rf_pg,32,528,cfg_qid_ldb_qid2cqidix_mem,hqm_clk,28
rf_pg,32,13,cfg_qid_aqed_active_limit_mem,hqm_clk,29
rf_pg,32,17,qid_atq_enqueue_count_mem,hqm_clk,30
rf_pg,32,14,qid_aqed_active_count_mem,hqm_clk,31
rf_pg,64,16,cfg_dir_qid_dpth_thrsh_mem,hqm_clk,32
rf_pg,64,14,cfg_cq_ldb_inflight_limit_mem,hqm_clk,33
rf_pg,64,14,cfg_cq_ldb_inflight_threshold_mem,hqm_clk,34
rf_pg,32,33,cfg_cq2priov_mem,hqm_clk,35
rf_pg,32,33,cfg_cq2priov_odd_mem,hqm_clk,36
rf_pg,32,29,cfg_cq2qid_1_mem,hqm_clk,37
rf_pg,32,29,cfg_cq2qid_1_odd_mem,hqm_clk,38
rf_pg,32,29,cfg_cq2qid_0_mem,hqm_clk,39
rf_pg,32,29,cfg_cq2qid_0_odd_mem,hqm_clk,40
rf_pg,32,16,cfg_nalb_qid_dpth_thrsh_mem,hqm_clk,41
rf_pg,32,16,cfg_atm_qid_dpth_thrsh_mem,hqm_clk,42
rf_pg,64,15,cq_ldb_inflight_count_mem,hqm_clk,43
rf_pg,32,13,cfg_qid_ldb_inflight_limit_mem,hqm_clk,44
rf_pg,32,14,qid_ldb_inflight_count_mem,hqm_clk,45
rf_pg,32,17,qid_dir_replay_count_mem,hqm_clk,46
rf_pg,64,15,qid_dir_max_depth_mem,hqm_clk,47
rf_pg,4,10,nalb_lsp_enq_lb_rx_sync_fifo_mem,hqm_clk,48
rf_pg,4,8,dp_lsp_enq_dir_rx_sync_fifo_mem,hqm_clk,49
rf_pg,4,23,dp_lsp_enq_rorply_rx_sync_fifo_mem,hqm_clk,50
rf_pg,16,27,nalb_sel_nalb_fifo_mem,hqm_clk,51
rf_pg,4,27,nalb_lsp_enq_rorply_rx_sync_fifo_mem,hqm_clk,52
rf_pg,4,35,send_atm_to_cq_rx_sync_fifo_mem,hqm_clk,53
rf_pg,64,66,cq_ldb_tot_sch_cnt_mem,hqm_clk,54
rf_pg,64,66,cq_dir_tot_sch_cnt_mem,hqm_clk,55
rf_pg,64,66,qid_dir_tot_enq_cnt_mem,hqm_clk,56
rf_pg,32,66,qid_naldb_tot_enq_cnt_mem,hqm_clk,57
rf_pg,32,66,qid_atm_tot_enq_cnt_mem,hqm_clk,58
rf_pg,64,13,cq_ldb_token_count_mem,hqm_clk,59
rf_pg,8,18,nalb_cmp_fifo_mem,hqm_clk,60
rf_pg,4,10,enq_nalb_fifo_mem,hqm_clk,61
rf_pg,64,17,dir_enq_cnt_mem,hqm_clk,62
rf_pg,64,8,dir_tok_lim_mem,hqm_clk,63
rf_pg,32,17,qid_ldb_replay_count_mem,hqm_clk,64
rf_pg,32,17,qid_atm_active_mem,hqm_clk,65
rf_pg,64,5,cfg_cq_ldb_token_depth_select_mem,hqm_clk,66
rf_pg,32,15,qid_naldb_max_depth_mem,hqm_clk,67
rf_pg,32,17,qid_ldb_enqueue_count_mem,hqm_clk,68
rf_pg,32,96,cq_nalb_pri_arbindex_mem,hqm_clk,69
rf_pg,32,96,cq_atm_pri_arbindex_mem,hqm_clk,70
rf_pg,64,13,dir_tok_cnt_mem,hqm_clk,71
rf_pg,8,20,uno_atm_cmp_fifo_mem,hqm_clk,72
rf_pg,8,17,rop_lsp_reordercmp_rx_sync_fifo_mem,hqm_clk,73
rf_pg,8,55,atm_cmp_fifo_mem,hqm_clk,74
rf_pg,8,25,ldb_token_rtn_fifo_mem,hqm_clk,75
rf_pg,4,25,chp_lsp_token_rx_sync_fifo_mem,hqm_clk,76
rf_pg,4,73,chp_lsp_cmp_rx_sync_fifo_mem,hqm_clk,77
rf_pg,24,9,qed_lsp_deq_fifo_mem,hqm_clk,78
rf_pg,24,9,aqed_lsp_deq_fifo_mem,hqm_clk,79
rf_pg,64,19,cq_ldb_wu_count_mem,hqm_clk,80
rf_pg,64,17,cfg_cq_ldb_wu_limit_mem,hqm_clk,81
rf_pg,32,528,aqed_qid2cqidix,hqm_clk,82
rf_pg,16,45,atm_fifo_ap_aqed,hqm_clk,83
rf_pg,512,14,ll_schlst_hp_bin3,hqm_clk,84
rf_pg,512,14,ll_schlst_tp_bin2,hqm_clk,85
rf_pg,512,14,ll_schlst_hp_bin1,hqm_clk,86
rf_pg,512,14,ll_schlst_tp_bin0,hqm_clk,87
rf_pg,512,14,ll_schlst_tp_bin3,hqm_clk,88
rf_pg,512,14,ll_schlst_hp_bin2,hqm_clk,89
rf_pg,512,14,ll_schlst_tp_bin1,hqm_clk,90
rf_pg,512,14,ll_schlst_hp_bin0,hqm_clk,91
rf_pg,2048,16,ll_schlst_hpnxt_bin3,hqm_clk,92
rf_pg,2048,16,ll_schlst_hpnxt_bin2,hqm_clk,93
rf_pg,2048,16,ll_schlst_hpnxt_bin1,hqm_clk,94
rf_pg,2048,16,ll_schlst_hpnxt_bin0,hqm_clk,95
rf_pg,2048,16,ll_schlst_tpprv_bin0,hqm_clk,96
rf_pg,2048,16,ll_schlst_tpprv_bin1,hqm_clk,97
rf_pg,2048,16,ll_schlst_tpprv_bin2,hqm_clk,98
rf_pg,2048,16,ll_schlst_tpprv_bin3,hqm_clk,99
rf_pg,2048,17,ll_sch_cnt_dup2,hqm_clk,100
rf_pg,2048,17,ll_sch_cnt_dup3,hqm_clk,101
rf_pg,512,60,ll_slst_cnt,hqm_clk,102
rf_pg,32,24,atm_fifo_aqed_ap_enq,hqm_clk,103
rf_pg,32,6,qid_rdylst_clamp,hqm_clk,104
rf_pg,32,56,ll_rlst_cnt,hqm_clk,105
rf_pg,32,14,ll_rdylst_hp_bin2,hqm_clk,106
rf_pg,32,14,ll_rdylst_hp_bin1,hqm_clk,107
rf_pg,32,14,ll_rdylst_tp_bin1,hqm_clk,108
rf_pg,32,14,ll_rdylst_hp_bin0,hqm_clk,109
rf_pg,32,14,ll_rdylst_tp_bin0,hqm_clk,110
rf_pg,32,14,ll_rdylst_tp_bin3,hqm_clk,111
rf_pg,32,14,ll_rdylst_tp_bin2,hqm_clk,112
rf_pg,32,14,ll_rdylst_hp_bin3,hqm_clk,113
rf_pg,2048,17,ll_sch_cnt_dup1,hqm_clk,114
rf_pg,2048,17,ll_sch_cnt_dup0,hqm_clk,115
rf_pg,2048,16,ll_rdylst_hpnxt_bin3,hqm_clk,116
rf_pg,2048,16,ll_rdylst_hpnxt_bin2,hqm_clk,117
rf_pg,2048,16,ll_rdylst_hpnxt_bin1,hqm_clk,118
rf_pg,2048,16,ll_rdylst_hpnxt_bin0,hqm_clk,119
rf_pg,2048,16,ll_enq_cnt_r_bin0_dup0,hqm_clk,120
rf_pg,2048,16,ll_enq_cnt_r_bin0_dup1,hqm_clk,121
rf_pg,2048,16,ll_enq_cnt_r_bin0_dup2,hqm_clk,122
rf_pg,2048,16,ll_enq_cnt_r_bin0_dup3,hqm_clk,123
rf_pg,2048,16,ll_enq_cnt_s_bin0,hqm_clk,124
rf_pg,2048,16,ll_enq_cnt_r_bin1_dup0,hqm_clk,125
rf_pg,2048,16,ll_enq_cnt_r_bin1_dup1,hqm_clk,126
rf_pg,2048,16,ll_enq_cnt_r_bin1_dup2,hqm_clk,127
rf_pg,2048,16,ll_enq_cnt_r_bin1_dup3,hqm_clk,128
rf_pg,2048,16,ll_enq_cnt_s_bin1,hqm_clk,129
rf_pg,2048,16,ll_enq_cnt_r_bin2_dup0,hqm_clk,130
rf_pg,2048,16,ll_enq_cnt_r_bin2_dup1,hqm_clk,131
rf_pg,2048,16,ll_enq_cnt_r_bin2_dup2,hqm_clk,132
rf_pg,2048,16,ll_enq_cnt_r_bin2_dup3,hqm_clk,133
rf_pg,2048,16,ll_enq_cnt_s_bin2,hqm_clk,134
rf_pg,2048,16,ll_enq_cnt_s_bin3,hqm_clk,135
rf_pg,2048,16,ll_enq_cnt_r_bin3_dup3,hqm_clk,136
rf_pg,2048,16,ll_enq_cnt_r_bin3_dup2,hqm_clk,137
rf_pg,2048,16,ll_enq_cnt_r_bin3_dup1,hqm_clk,138
rf_pg,2048,12,fid2cqqidix,hqm_clk,139
rf_pg,2048,16,ll_enq_cnt_r_bin3_dup0,hqm_clk,140
