sram_pg,2048,66,hist_list,hqm_clk,1
sram_pg,2048,66,hist_list_a,hqm_clk,2
sram_pg,2048,16,freelist_0,hqm_clk,3
sram_pg,2048,16,freelist_1,hqm_clk,4
sram_pg,2048,16,freelist_2,hqm_clk,5
sram_pg,2048,16,freelist_3,hqm_clk,6
sram_pg,2048,16,freelist_4,hqm_clk,7
sram_pg,2048,16,freelist_5,hqm_clk,8
sram_pg,2048,16,freelist_6,hqm_clk,9
sram_pg,2048,16,freelist_7,hqm_clk,10
sram_pg,2048,156,rob_mem,hqm_clk,11
rf_pg,8,200,chp_sys_tx_fifo_mem,hqm_clk,12
rf_pg,16,201,chp_chp_rop_hcw_fifo_mem,hqm_clk,13
rf_pg,8,177,qed_chp_sch_rx_sync_mem,hqm_clk,14
rf_pg,4,26,qed_chp_sch_flid_ret_rx_sync_mem,hqm_clk,15
rf_pg,4,179,aqed_chp_sch_rx_sync_mem,hqm_clk,16
rf_pg,16,160,hcw_enq_w_rx_sync_mem,hqm_clk,17
rf_pg,8,197,qed_to_cq_fifo_mem,hqm_clk,18
rf_pg,16,160,outbound_hcw_fifo_mem,hqm_clk,19
rf_pg,32,12,ord_qid_sn_map,hqm_clk,20
rf_pg,32,12,ord_qid_sn,hqm_clk,21
rf_pg,16,74,chp_lsp_ap_cmp_fifo_mem,hqm_clk,22
rf_pg,64,6,dir_cq_token_depth_select,hqm_clk,23
rf_pg,64,32,ldb_cq_on_off_threshold,hqm_clk,24
rf_pg,64,2,cmp_id_chk_enbl_mem,hqm_clk,25
rf_pg,64,6,ldb_cq_token_depth_select,hqm_clk,26
rf_pg,64,13,ldb_cq_wptr,hqm_clk,27
rf_pg,64,13,ldb_cq_depth,hqm_clk,28
rf_pg,64,32,hist_list_ptr,hqm_clk,29
rf_pg,64,30,hist_list_minmax,hqm_clk,30
rf_pg,64,32,hist_list_a_ptr,hqm_clk,31
rf_pg,64,30,hist_list_a_minmax,hqm_clk,32
rf_pg,16,29,chp_lsp_tok_fifo_mem,hqm_clk,33
rf_pg,64,13,dir_cq_depth,hqm_clk,34
rf_pg,64,13,dir_cq_wptr,hqm_clk,35
rf_pg,64,15,dir_cq_intr_thresh,hqm_clk,36
rf_pg,64,13,ldb_cq_intr_thresh,hqm_clk,37
rf_pg,64,14,threshold_r_pipe_dir_mem,hqm_clk,38
rf_pg,64,14,threshold_r_pipe_ldb_mem,hqm_clk,39
rf_pg,64,16,count_rmw_pipe_dir_mem,hqm_clk,40
rf_pg,64,16,count_rmw_pipe_ldb_mem,hqm_clk,41
rf_pg,64,10,count_rmw_pipe_wd_dir_mem,pgcb_clk,42
rf_pg,64,10,count_rmw_pipe_wd_ldb_mem,pgcb_clk,43
rf_pg,4,204,rop_chp_rop_hcw_fifo_mem,hqm_clk,44
rf_pg,2048,17,reord_lbhp_mem,hqm_clk,45
rf_pg,2048,25,reord_st_mem,hqm_clk,46
rf_pg,8,60,dir_rply_req_fifo_mem,hqm_clk,47
rf_pg,8,60,ldb_rply_req_fifo_mem,hqm_clk,48
rf_pg,32,13,sn_ordered_fifo_mem,hqm_clk,49
rf_pg,8,19,lsp_reordercmp_fifo_mem,hqm_clk,50
rf_pg,4,21,sn_complete_fifo_mem,hqm_clk,51
rf_pg,16,12,sn1_order_shft_mem,hqm_clk,52
rf_pg,16,12,sn0_order_shft_mem,hqm_clk,53
rf_pg,2048,17,reord_lbtp_mem,hqm_clk,54
rf_pg,2048,17,reord_dirhp_mem,hqm_clk,55
rf_pg,2048,17,reord_dirtp_mem,hqm_clk,56
rf_pg,2048,16,reord_cnt_mem,hqm_clk,57
rf,256,10,scrbd_mem,prim_clk
rf,256,20,ibcpl_hdr_fifo,prim_clk
rf,256,66,ibcpl_data_fifo,prim_clk
rf,16,153,ri_tlq_fifo_phdr,prim_clk
rf,32,264,ri_tlq_fifo_pdata,prim_clk
rf,8,158,ri_tlq_fifo_nphdr,prim_clk
rf,8,33,ri_tlq_fifo_npdata,prim_clk
rf,128,35,mstr_ll_hpa,prim_clk
rf,256,153,mstr_ll_hdr,prim_clk
rf,256,129,mstr_ll_data0,prim_clk
rf,256,129,mstr_ll_data1,prim_clk
rf,256,129,mstr_ll_data2,prim_clk
rf,256,129,mstr_ll_data3,prim_clk
rf,16,85,tlb_tag0_4k,prim_clk
rf,16,85,tlb_tag1_4k,prim_clk
rf,16,85,tlb_tag2_4k,prim_clk
rf,16,85,tlb_tag3_4k,prim_clk
rf,16,85,tlb_tag4_4k,prim_clk
rf,16,85,tlb_tag5_4k,prim_clk
rf,16,85,tlb_tag6_4k,prim_clk
rf,16,85,tlb_tag7_4k,prim_clk
rf,16,39,tlb_data0_4k,prim_clk
rf,16,39,tlb_data1_4k,prim_clk
rf,16,39,tlb_data2_4k,prim_clk
rf,16,39,tlb_data3_4k,prim_clk
rf,16,39,tlb_data4_4k,prim_clk
rf,16,39,tlb_data5_4k,prim_clk
rf,16,39,tlb_data6_4k,prim_clk
rf,16,39,tlb_data7_4k,prim_clk
rf_pg,64,33,msix_tbl_word1,hqm_clk,58
rf_pg,64,33,msix_tbl_word2,hqm_clk,59
rf_pg,64,33,msix_tbl_word0,hqm_clk,60
rf_pg,16,30,alarm_vf_synd0,hqm_clk,61
rf_pg,16,32,alarm_vf_synd2,hqm_clk,62
rf_pg,16,32,alarm_vf_synd1,hqm_clk,63
rf_pg,64,27,lut_ldb_cq_addr_l,hqm_clk,64
rf_pg,64,24,lut_ldb_cq_pasid,hqm_clk,65
rf_pg,64,31,lut_ldb_cq_ai_addr_l,hqm_clk,66
rf_pg,64,33,lut_ldb_cq_ai_addr_u,hqm_clk,67
rf_pg,64,33,lut_ldb_cq_ai_data,hqm_clk,68
rf_pg,64,17,lut_ldb_vasqid_v,hqm_clk,69
rf_pg,64,13,lut_ldb_cq_isr,hqm_clk,70
rf_pg,64,33,lut_ldb_cq_addr_u,hqm_clk,71
rf_pg,8,21,lut_ldb_qid2vqid,hqm_clk,72
rf_pg,32,13,lut_ldb_cq2vf_pf_ro,hqm_clk,73
rf_pg,32,11,lut_ldb_pp2vas,hqm_clk,74
rf_pg,32,17,lut_vf_ldb_vqid_v,hqm_clk,75
rf_pg,4,17,lut_dir_pp_v,hqm_clk,76
rf_pg,64,13,lut_dir_cq_isr,hqm_clk,77
rf_pg,64,24,lut_dir_cq_pasid,hqm_clk,78
rf_pg,64,27,lut_dir_cq_addr_l,hqm_clk,79
rf_pg,64,33,lut_dir_vasqid_v,hqm_clk,80
rf_pg,64,33,lut_dir_cq_addr_u,hqm_clk,81
rf_pg,64,31,lut_dir_cq_ai_addr_l,hqm_clk,82
rf_pg,64,33,lut_dir_cq_ai_addr_u,hqm_clk,83
rf_pg,64,33,lut_dir_cq_ai_data,hqm_clk,84
rf_pg,32,11,lut_dir_pp2vas,hqm_clk,85
rf_pg,32,13,lut_dir_cq2vf_pf_ro,hqm_clk,86
rf_pg,64,17,lut_vf_ldb_vpp_v,hqm_clk,87
rf_pg,64,17,lut_vf_dir_vqid_v,hqm_clk,88
rf_pg,64,17,lut_vf_dir_vpp_v,hqm_clk,89
rf_pg,128,27,lut_vf_ldb_vqid2qid,hqm_clk,90
rf_pg,256,31,lut_vf_dir_vpp2pp,hqm_clk,91
rf_pg,256,31,lut_vf_dir_vqid2qid,hqm_clk,92
rf_pg,256,25,lut_vf_ldb_vpp2pp,hqm_clk,93
rf_pg,128,270,sch_out_fifo,hqm_clk,94
rf_pg,64,144,dir_wb0,hqm_clk,95
rf_pg,64,144,dir_wb1,hqm_clk,96
rf_pg,64,144,dir_wb2,hqm_clk,97
rf_pg,64,144,ldb_wb0,hqm_clk,98
rf_pg,64,144,ldb_wb1,hqm_clk,99
rf_pg,64,144,ldb_wb2,hqm_clk,100
rf_dc_pg,256,167,hcw_enq_fifo,prim_clk,101
