sram_pg,16384,21,dir_nxthp,hqm_clk,1
sram_pg,16384,21,nalb_nxthp,hqm_clk,2
sram_pg,2048,139,qed_0,hqm_clk,3
sram_pg,2048,139,qed_1,hqm_clk,4
sram_pg,2048,139,qed_2,hqm_clk,5
sram_pg,2048,139,qed_3,hqm_clk,6
sram_pg,2048,139,qed_4,hqm_clk,7
sram_pg,2048,139,qed_5,hqm_clk,8
sram_pg,2048,139,qed_6,hqm_clk,9
sram_pg,2048,139,qed_7,hqm_clk,10
rf_pg,512,17,dir_rofrag_cnt,hqm_clk,11
rf_pg,512,15,dir_rofrag_tp,hqm_clk,12
rf_pg,512,15,dir_rofrag_hp,hqm_clk,13
rf_pg,32,68,dir_replay_cnt,hqm_clk,14
rf_pg,4,100,rop_dp_enq_dir,hqm_clk,15
rf_pg,4,100,rop_dp_enq_ro,hqm_clk,16
rf_pg,4,8,rx_sync_lsp_dp_sch_rorply,hqm_clk,17
rf_pg,4,27,rx_sync_lsp_dp_sch_dir,hqm_clk,18
rf_pg,4,100,rx_sync_rop_dp_enq,hqm_clk,19
rf_pg,64,68,dir_cnt,hqm_clk,20
rf_pg,256,15,dir_tp,hqm_clk,21
rf_pg,256,15,dir_hp,hqm_clk,22
rf_pg,32,45,dp_dqed,hqm_clk,23
rf_pg,16,8,dp_lsp_enq_dir,hqm_clk,24
rf_pg,16,23,dp_lsp_enq_rorply,hqm_clk,25
rf_pg,128,15,dir_replay_tp,hqm_clk,26
rf_pg,128,15,dir_replay_hp,hqm_clk,27
rf_pg,4,8,lsp_dp_sch_rorply,hqm_clk,28
rf_pg,4,27,lsp_dp_sch_dir,hqm_clk,29
rf_pg,32,45,nalb_qed,hqm_clk,30
rf_pg,128,15,nalb_tp,hqm_clk,31
rf_pg,128,15,nalb_hp,hqm_clk,32
rf_pg,32,27,nalb_lsp_enq_rorply,hqm_clk,33
rf_pg,32,10,nalb_lsp_enq_unoord,hqm_clk,34
rf_pg,32,68,nalb_cnt,hqm_clk,35
rf_pg,4,100,rop_nalb_enq_ro,hqm_clk,36
rf_pg,4,100,rop_nalb_enq_unoord,hqm_clk,37
rf_pg,4,100,rx_sync_rop_nalb_enq,hqm_clk,38
rf_pg,512,15,nalb_rofrag_hp,hqm_clk,39
rf_pg,512,15,nalb_rofrag_tp,hqm_clk,40
rf_pg,512,17,nalb_rofrag_cnt,hqm_clk,41
rf_pg,32,68,nalb_replay_cnt,hqm_clk,42
rf_pg,32,68,atq_cnt,hqm_clk,43
rf_pg,128,15,nalb_replay_hp,hqm_clk,44
rf_pg,4,27,rx_sync_lsp_nalb_sch_unoord,hqm_clk,45
rf_pg,4,8,rx_sync_lsp_nalb_sch_atq,hqm_clk,46
rf_pg,4,8,rx_sync_lsp_nalb_sch_rorply,hqm_clk,47
rf_pg,4,27,lsp_nalb_sch_unoord,hqm_clk,48
rf_pg,32,8,lsp_nalb_sch_atq,hqm_clk,49
rf_pg,4,8,lsp_nalb_sch_rorply,hqm_clk,50
rf_pg,128,15,atq_tp,hqm_clk,51
rf_pg,128,15,atq_hp,hqm_clk,52
rf_pg,128,15,nalb_replay_tp,hqm_clk,53
rf_pg,4,45,rx_sync_nalb_qed_data,hqm_clk,54
rf_pg,4,45,rx_sync_dp_dqed_data,hqm_clk,55
rf_pg,4,157,rx_sync_rop_qed_dqed_enq,hqm_clk,56
rf_pg,8,177,qed_chp_sch_data,hqm_clk,57
