Magic 271485
Revision 2011.07

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 82 127 1153 541 244 112

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/nfs/iind/disks/mg_disk0971/users/sbulusu/devlpmnt/ip-dfxsecure_plugin/pwa/results/tests/DfxSecurePlugin_DefaultTest/Dump.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 3

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 120000.000000
cursor 0.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 11

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "Signals of RTL"
activeDirFile "" "/nfs/iind/disks/mg_disk0971/users/sbulusu/devlpmnt/ip-dfxsecure_plugin/pwa/results/tests/DfxSecurePlugin_DefaultTest/Dump.fsdb"
addSignal -h 15 /DfxSecurePlugin_Tbtop/pif/tb_clk
addSignal -h 15 /DfxSecurePlugin_Tbtop/dfxsecure_top_inst/fdfx_powergood
addSignal -h 15 -holdScope fdfx_earlyboot_exit
addSignal -h 15 -holdScope fdfx_policy_update
addSignal -h 15 -UNSIGNED -HEX -holdScope fdfx_secure_policy[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope sb_policy_ovr_value[2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope oem_secure_policy[3:0]
addSignal -h 15 -holdScope dfxsecure_feature_en[0:0]
addSignal -h 15 -holdScope visa_all_dis
addSignal -h 15 -holdScope visa_customer_dis
addSignal -h 15 -UNSIGNED -holdScope policy_name[4:0]
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/nfs/iind/disks/mg_disk0971/users/sbulusu/devlpmnt/ip-dfxsecure_plugin/pwa/results/tests/DfxSecurePlugin_DefaultTest/Dump.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/DfxSecurePlugin_Tbtop"
"/DfxSecurePlugin_Tbtop/dfxsecure_top_inst"
"/DfxSecurePlugin_Tbtop/pif"

SCOPE_LIST_BEGIN
"/\DFXSECURE_PLUGIN_PKG_LIB.dfxsecure_plugin_Pkg"
"/DfxSecurePlugin_Tbtop/dfxsecure_top_inst"
"/DfxSecurePlugin_Tbtop"
"/DfxSecurePlugin_Tbtop/dump_fsdb"
"/DfxSecurePlugin_Tbtop/dump_hier"
"/DfxSecurePlugin_Tbtop/dump_vcd"
"/DfxSecurePlugin_Tbtop/i_TapTestIsland"
"/DfxSecurePlugin_Tbtop/i_DfxSecurePlugin_ClkGen"
"/DfxSecurePlugin_Tbtop/i_DfxSecurePlugin_Test"
"/DfxSecurePlugin_Tbtop/pif"
"/DfxSecurePlugin_Tbtop/pif/drv_cb_neg"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


